<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link th:href="@{/css/all_assets.css}" th:rel="stylesheet"></link>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"></link>
<body>
	<div th:insert="/navbar"></div>
	
	

	<div class="container-fluid cont">

		<form th:action="@{/search-asset}" th:object="${asset}" method="post"
			class="form-inline">
			<div class="form-group frm-search">

				<input class="form-control" type="search" placeholder="Asset Number"
					th:field="*{assetNo}"></input>
				<button class="btn btn-success" type="submit">Search</button>
			</div>
		</form>

		<form th:action="@{/all-assets}" method="get">

			<table class="table table-striped table-bordered table-sm frm-table">
				<thead>
					<tr>
						<th>Asset Id</th>
						<th>Asset Number</th>
						<th>Asset Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="asset, iStat : ${assetPage.content}">
						<td th:text="${asset.id}"></td>
						<td th:text="${asset.assetNo}"></td>
						<td th:text="${asset.assetDescription}"></td>
						<td><a th:href="@{/update-asset/(assetid=*{asset.id})}">Edit</a>
							&nbsp;&nbsp;&nbsp;<a
							th:href="@{/delete-asset/(assetid=*{asset.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>

			<nav th:if="${assetPage.totalPages > 0}" class="frm-nav-pagination">
				<ul class="pagination pagination-lg justify-content-center">
					<li class="page-item frm-pagination-link"
						th:each="pageNumber : ${pageNumbers}"><a class="page-link"
						th:href="@{/all-assets(size=${assetPage.size}, page=${pageNumber})}"
						th:text=${pageNumber}
						th:class="${pageNumber==assetPage.number + 1} ? active"> </a></li>

				</ul>
			</nav>



		</form>
	</div>


	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>